{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
KBMS | Add Account
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <form method="post" class="col-md-8">
      {{ form.non_field_errors }}
      {{ form.customer.errors }}
      {% csrf_token %}
      <h4 class="mb-3">基本信息</h4>
      <div class="mb-3">
        <label for="id_balance">余额</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-money-bill"></i></span>
          </div>
          {{ form.balance }}
        </div>
        {{ form.balance.errors }}
      </div>
      <div class="mb-3">
        <label for="id_branch">支行</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-building"></i></span>
          </div>
          {{ form.branch }}
        </div>
        {{ form.branch.errors }}
      </div>
      <div class="mb-4">
        <label for="id_manager">经理</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          {{ form.manager }}
        </div>
        {{ form.manager.errors }}
      </div>
      <hr class="mb-4">
      <h4 class="mb-3">账户额外信息</h4>
      {% if account_type == 'checking' %}
      <div class="mb-4">
        <label for="id_overdraft">透支额</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-money-check"></i></span>
          </div>
          {{ form.overdraft }}
        </div>
        {{ form.overdraft.errors }}
      </div>
      {% else %}
      <div class="mb-4">
        <label for="id_interest_rate">利率</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-chart-line"></i></span>
          </div>
          {{ form.interest_rate }}
        </div>
        {{ form.interest_rate.errors }}
      </div>
      {% endif %}
      <hr class="mb-4">
      <button class="btn btn-primary btn-block" type="submit">保存</button>
    </form>
  </div>
</div>
{% endblock %}
