{% extends 'base.html' %}

{% block title %}
KBMS | Add Customer
{% endblock %}

{% block navbar %}
{% if is_update %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'account:saving_create' customer.pk %}"><i class="fas fa-plus"></i> 添加储蓄账户</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'account:checking_create' customer.pk %}"><i class="fas fa-plus"></i> 添加支票账户</a>
</li>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
  <form method="post" class="col-md-6">
    {{ form.non_field_errors }}
    {% csrf_token %}
    <h4 class="mb-3">个人信息</h4>
    <div class="mb-3">
      {{ form.card_id.errors }}
      <label for="id_card_id">身份证号</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-id-card"></i></span>
        </div>
        <input type="text" class="form-control" id="id_card_id" name="card_id" required="" maxlength="18"
               value="{{ form.card_id.value | default_if_none:'' }}" {% if is_update %}readonly="readonly"{% endif %}>
      </div>
    </div>
    <div class="mb-3">
      {{ form.name.errors }}
      <label for="id_name">姓名</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <input type="text" class="form-control" id="id_name" name="name" required="" maxlength="64"
               value="{{ form.name.value | default_if_none:'' }}" {% if is_update %}readonly="readonly"{% endif %}>
      </div>
    </div>
    <div class="mb-3">
      {{ form.phone_number.errors }}
      <label for="id_phone_number">电话号码</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-phone"></i></span>
        </div>
        <input type="text" class="form-control" id="id_phone_number" name="phone_number" required="" maxlength="64"
               value="{{ form.phone_number.value | default_if_none:'' }}">
      </div>
    </div>
    <div class="mb-4">
      {{ form.address.errors }}
      <label for="id_address">地址</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
        </div>
        <input type="text" class="form-control" id="id_address" name="address" required="" maxlength="256"
               value="{{ form.address.value | default_if_none:'' }}">
      </div>
    </div>
    <hr class="mb-4">
    <h4 class="mb-3">联系人信息</h4>
    <div class="mb-3">
      {{ form.contact_name.errors }}
      <label for="id_contact_name">姓名</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <input type="text" class="form-control" id="id_contact_name" name="contact_name" required="" maxlength="64"
               value="{{ form.contact_name.value | default_if_none:'' }}">
      </div>
    </div>
    <div class="mb-3">
      {{ form.contact_phone_number.errors }}
      <label for="id_contact_phone_number">电话号码</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-phone"></i></span>
        </div>
        <input type="text" class="form-control" id="id_contact_phone_number" name="contact_phone_number" required="" maxlength="64"
               value="{{ form.contact_phone_number.value | default_if_none:'' }}">
      </div>
    </div>
    <div class="mb-3">
      {{ form.contact_email.errors }}
      <label for="id_contact_email">邮箱</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
        </div>
        <input type="email" class="form-control" id="id_contact_email" name="contact_email" required="" maxlength="64"
               value="{{ form.contact_email.value | default_if_none:'' }}">
      </div>
    </div>
    <div class="mb-4">
      {{ form.contact_relationship.errors }}
      <label for="id_contact_relationship">和您的关系是？</label>
      <input type="text" class="form-control" id="id_contact_relationship" name="contact_relationship" required="" maxlength="64"
             value="{{ form.contact_relationship.value | default_if_none:'' }}">
    </div>
    <hr class="mb-4">
    <button class="btn btn-primary btn-block" type="submit">保存</button>
  </form>

  {% if is_update %}
  <div class="col-md-6">
    <h2>储蓄账户</h2>
    <table id="savingAccountTable" class="table table-striped table-sm"
           data-toggle="table" data-pagination="true">
      <thead>
      <tr>
        <th data-sortable="true">余额</th>
        <th data-sortable="true">利率</th>
        <th data-sortable="true">开户日期</th>
        <th data-sortable="true">负责人</th>
        <th data-sortable="true">开户支行</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      {% for account in saving_account_list %}
      <tr>
        <td>{{ account.balance }}</td>
        <td>{{ account.interest_rate }}</td>
        <td>{{ account.date_opened }}</td>
        <td>{{ account.manager.name }}</td>
        <td>{{ account.branch.name }}</td>
        <td><a href="{% url 'account:saving_update' account.pk %}"><i class="fas fa-info-circle"></i></a> |
          <a class="open-modal" data-target="#deleteModal" data-toggle="modal"
             data-url="{% url 'account:saving_delete' account.pk %}"
             data-customer_name="{{ account.customer.name }}"><i class="fas fa-trash"></i></a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <h2>支票账户</h2>
    <table id="checkingAccountTable" class="table table-striped table-sm mb-5"
           data-toggle="table" data-pagination="true">
      <thead>
      <tr>
        <th data-sortable="true">余额</th>
        <th data-sortable="true">透支额</th>
        <th data-sortable="true">开户日期</th>
        <th data-sortable="true">负责人</th>
        <th data-sortable="true">开户支行</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      {% for account in checking_account_list %}
      <tr>
        <td>{{ account.balance }}</td>
        <td>{{ account.overdraft }}</td>
        <td>{{ account.date_opened }}</td>
        <td>{{ account.manager.name }}</td>
        <td>{{ account.branch.name }}</td>
        <td><a href="{% url 'account:checking_update' account.pk %}"><i class="fas fa-info-circle"></i></a> |
          <a class="open-modal" data-target="#deleteModal" data-toggle="modal"
             data-url="{% url 'account:checking_delete' account.pk %}"
             data-customer_name="{{ account.customer.name }}"><i class="fas fa-trash"></i></a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <hr class="mb-5">

    <h2>贷款</h2>
    <table id="loanTable" class="table table-striped table-sm"
           data-toggle="table" data-pagination="true">
      <thead>
      <tr>
        <th data-sortable="true">总额</th>
        <th data-sortable="true">支行</th>
        <th data-sortable="true">状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      {% for loan in loan_list %}
      <tr>
        <td>{{ loan.amount }}</td>
        <td>{{ loan.branch.name }}</td>
        <td>
          {% if loan.status == 'empty' %}
          未开始发放
          {% elif loan.status == 'full' %}
          已全部发放
          {% else %}
          发放中
          {% endif %}
        </td>
        <td></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
      <div class="modal-dialog modal-notify modal-danger" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title white-text">警告：删除账户</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>你确定要删除"<span id="modalCustomerName"></span>"的该账户吗？</p>
            <form id="deleteForm" method="post">{% csrf_token %}</form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger" form="deleteForm">确定</button>
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">取消</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).on("click", ".open-modal", function () {
    let customerName = $(this).data('customer_name');
    let url = $(this).data('url');
    $('#modalCustomerName').text(customerName);
    $('#deleteForm').attr('action', url);
    // As pointed out in comments,
    // it is unnecessary to have to manually call the modal.
    // $('#addBookDialog').modal('show');
  });
</script>
{% endblock %}
